# Python
__pycache__/
*.py[cod]

# Local paths / work dirs
cards-database/
workspace/

# macOS
.DS_Store

# VS Code
.vscode/
# Local configuration files
config/config.local.yaml
# Python virtual environment
.venv/
venv/